<div class="flex flex-column col-12 md-col-<%= col %> p2 border-box">
  <div class="rounded shadow flex flex-column flex-auto">
    <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
      <%= image_tag(Imgix.client.path(t.image.s3_path).fit('crop').width(400).height(400).to_url, class: 'block col-12', style: 'border-radius: 3px 3px 0 0', alt: t.title) %>
    <% end %>
    <div class="bg-white p3 rounded flex flex-column flex-auto">
      <div class="mb2">
        <h2 class="h6 mt0 mb1 muted caps">
          <%= t.created_at.strftime("%b %e") %>
        </h2>
        <h1 class="h2 mt0 mb1 black">
          <%= link_to( t.title, slugged_channel_episode_path(@channel.slug, t.slug), class: 'black') %>
          <% unless t.visible? %>
            <span class="h6 inline-block px1 white bg-red rounded">Draft</span>
          <% end %>
        </h1>
        <% unless preview == false %>
        <% if t.notes.present? %>
          <p><%= truncate(markdown(t.notes), length: 100, escape: false) %></p>
        <% end %>
        <% end %>
      </div>
      <div class="flex-auto"></div>
      <h3 class="h4 regular m0 muted truncate">
        <%= pluralize(t.play_count, 'play') %>
        ∙
        <%= "#{distance_of_time_in_words(t.length)}" %>
      </h3>
    </div>
  </div>
</div>
