<% meta title: "#{@channel.title} Settings" %>

<div class="clearfix mt2">
  <%= render 'settings_nav' %>
  <div class="col col-6">
    <%= form_for(@channel, html: { multipart: true }) do |f| %>
      <% if @channel.errors.any? %>
        <div id="error_explanation">
          <h2>Channel could not be saved</h2>

          <ul>
            <% @channel.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="border-bottom">
        <label class="caps gray h6 block mb2" id="information">Information</label>
        <div class="clearfix mb2 mxn2">
          <div class="col col-6 px2">
            <%= f.text_field :title, placeholder: 'Title', class: "col-12 field" %>
          </div>
          <div class="col col-6 px2">
            <%= f.text_field :slug, placeholder: 'Slug', class: "col-12 field" %>
          </div>
        </div>
        <div class="clearfix mb2 mxn2">
          <div class="col col-6 px2">
          <%= f.text_field :author, placeholder: 'Author', class: "col-12 field"  %>
          </div>
          <div class="col col-6 px2">
            <%= f.text_field :website_url, placeholder: "https://ruby.fm/#{@channel.slug}", class: "col-12 field"  %>
          </div>
        </div>
        <%= f.text_area :summary, class: "col-12 field", style: "min-height: 200px;" %>
      </div>

      <div class="py2 border-bottom">
      <h3 class="gray mb2 h6 caps regular" id="categories">Categories</h3>
        <select class="mb1 field col-12" name="channel[categories][]">
          <%= grouped_options_for_select(Category.grouped, @channel.categories[0], prompt: 'Choose one') %>
        </select>
        <select class="mb1 field col-12" name="channel[categories][]">
          <%= grouped_options_for_select(Category.grouped, @channel.categories[1], prompt: 'Choose one') %>
        </select>
        <select class="mb1 field col-12" name="channel[categories][]">
          <%= grouped_options_for_select(Category.grouped, @channel.categories[2], prompt: 'Choose one') %>
        </select>
      </div>


      <div class="py2 border-bottom">
        <h3 class="gray mb2 h6 caps regular" id="cover-art">Cover Art</h3>
        <%= image_tag(Imgix.client.path(@channel.image.s3_path).h(128).w(128).fit('crop').auto('format').to_url, class: 'mb0 mr2', alt: @channel.title) if @channel.image? %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="mb2 py2">
        <%= f.submit "Update your settings", class: "col-12 btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
