<% meta title: "Edit #{@channel.title} Settings" %>

<header class="center">
  <h1>Settings</h1>
</header>

<%= form_for(@channel, html: { multipart: true }) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2>Channel could not be saved</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py2 border-top border-bottom">
    <%= f.label :title, class: "bold" %>
    <%= f.text_field :title, class: "block full-width mb1 field-light" %>
  </div>

  <div class="py2 border-bottom">
    <label class="bold block">
      Subdomain
      <span class="h6 inline-block px1 white bg-red rounded">WIP</span>
    </label>
    <div class="flex mb1">
      <%= f.text_field :slug, class: "col-6 m0 field-light rounded-left"  %>
      <p class="col-6 button rounded-right border-left black bg-silver">.ruby.fm</p>
    </div>
  </div>

  <div class="py2 border-bottom">
    <%= f.label :author, class: "bold" %>
    <%= f.text_field :author, class: "block full-width field-light"  %>
  </div>

  <div class="py2 border-bottom">
    <%= f.label :categories, class: "bold" %>

    <select name="channel[category][]">
      <option value="">None</option>
      <%= grouped_options_for_select(Category.grouped) %>
    </select>
    <br/>
    <select name="channel[category][]">
      <option value="">None</option>
      <%= grouped_options_for_select(Category.grouped) %>
    </select>
    <br/>
    <select name="channel[category][]">
      <option value="">None</option>
      <%= grouped_options_for_select(Category.grouped) %>
    </select>
  </div>

  <div class="py2 border-bottom">
    <label class="bold block">Summary</label>
    <%= f.text_area :summary, class: "block full-width field-light", style: "min-height: 200px;" %>
  </div>

  <div class="py2">
    <%= f.label :website_url, class: "bold" %>
    <%= f.text_field :website_url, class: "block full-width field-light"  %>
  </div>

  <div class="py2 border-bottom">
      <label class="block bold">Default Cover Art</label>
      <p class="gray">Must be square and >= 1400px</p>
      <%= image_tag(@channel.image_url, width: 200, height: 200) if @channel.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
  </div>

  <div class="mb2 py2">
    <%= f.submit "Update your settings", class: "regular button button-blue full-width" %>
  </div>
<% end %>


<header class="center mt4">
  <h2>Integrations</h2>
</header>

<div class="py2 border-top mb2">
  <label class="bold block">
    RSS
    <span class="h6 inline-block px1 white bg-red rounded">WIP</span>
  </label>
      <p>You can submit your podcast to other directories, list on your website, or <%= link_to "submit to iTunes", "https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/publishPodcast" %>.</p>
  <code class="block p1">
    <%= link_to(slugged_channel_url(@channel.slug, format: 'xml'), slugged_channel_url(@channel.slug, format: 'xml')) %>
  </code>
</div>
