<header class="center">
  <h1>Settings</h1>
</header>

<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2>Channel could not be saved</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py2 border-bottom">
    <%= f.label :title, class: "bold" %>
    <%= f.text_field :title, class: "block full-width mb1 field-light" %>
  </div>

  <div class="py2 border-bottom">
    <%= f.label "Subdomain", class: "bold block" %>
    <div class="flex mb2">
      <%= f.text_field :slug, class: "col-6 m0 field-light rounded-left"  %>
      <p class="col-6 button rounded-right border-left black bg-silver">.ruby.fm</p>
    </div>
  </div>

  <div class="py2">
    <%= f.label :author, class: "bold" %>
    <%= f.text_field :author, class: "block full-width mb1 field-light"  %>
  </div>

  <div class="actions">
    <%= f.submit "Update your settings", class: "mt2 regular button button-blue full-width" %>
  </div>
<% end %>
