<%
  hash = {
    title: @channel.title,
    og: {
      title: @channel.title,
      image: Imgix.client.path(@channel.image.s3_path).w(1200).h(1200).fit('crop').q(50).fm('pjpg').to_url,
      type: 'website',
      url: slugged_channel_url(@channel.slug),
      site_name: "Ruby.fm"
    },
    twitter: {
    }
  }

  if @channel.summary.present?
    stripped = strip_tags(markdown(@channel.summary).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<% content_for :favicon do %>
  <%= favicon_link_tag(Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url, id: "favicon") %>
<% end %>

<div class="mxn-3">
  <div class="col col-3 px3">
    <header class="py2 mt2">
      <div class="flex flex-center py2">
        <div class="flex-none">
          <%= link_to slugged_channel_path(@channel) do %>
            <%= image_tag(Imgix.client.path(@channel.image.s3_path).h(64).w(64).fit('crop').mask('ellipse').fm('png').to_url, class: 'mb0 mr2', alt: @channel.title) %>
          <% end %>

        </div>
        <div class="flex-auto sm-col col-9">
          <h1 class="m0 h4"><%= @channel.title %></h1>
          <h2 class="m0 h5 regular muted">
            <%= link_to(@channel.website_url.gsub('https://',''), @channel.website_url, class: "black block") if @channel.website_url %>
          </h2>
        </div>
      </div>
      <div>
        <div>
          <% if @channel.summary? %>
            <p class="mb2 h4"><%= @channel.summary %></p>
          <% end %>

          <nav class="">
          <% if @channel.itunes_url? %>
            <%= link_to("Subscribe on iTunes", @channel.itunes_url, class: "mb1 h4 btn btn-primary col-12") %>
          <% end %>
          <% if policy(@channel).update? %>
            <%= link_to("Edit", edit_channel_path(primary_channel), class: "mb1 h4 btn btn-outline col-12") %>
          <% end %>
        </nav>

          <ul class="py1 list-style-none">
            <li class="mb1 gray regular h4">Joined <%= @channel.created_at.strftime("%b %e") %></li>
            <% if policy(@channel).update?  %>
              <li class="mb1 gray regular h4"><%= pluralize(@channel.episodes.count, 'episode') %></li>
            <% else %>
              <li class="mb1 gray regular h4"><%= pluralize(@channel.episodes.where(visible: true).count, 'episode') %></li>
            <% end %>
            <% @channel.categories.each do |c| %>
              <li class="mb1 gray regular h4"><%= c.to_s %></li>
            <% end %>
          </ol>
        </div>
      </div>

    </header>
  </div>
<div class="col col-9 px3">
<section class="flex flex-wrap">
  <% @episodes.each do |t| %>
    <% if policy(t).update? || t.visible? %>
      <div class="flex col-12 md-col-6 lg-col-6 p2 border-box">
      <div class="flex">
        <div class="flex-none">
          <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
            <%= image_tag(Imgix.client.path(t.image.s3_path).fit('crop').width(128).height(128).to_url, class: 'rounded mt0 mr2', alt: t.title) %>
          <% end %>
        </div>

        </div>
        <div class="flex-auto sm-col col-9">
          <div class="ml2">
            <h2 class="h3 m0 black">
              <%= link_to( t.title, slugged_channel_episode_path(@channel.slug, t.slug), class: 'black') %>
              <% unless t.visible? %>
                <span class="h6 inline-block px1 white bg-red rounded">Draft</span>
              <% end %>
            </h2>

            <% if t.notes.present? %>
              <p class="mt1 m0 h5"><%= truncate(t.stripped_notes, length: 80) %></p>
            <% end %>
            <h3 class="mt1 h6 regular mb0 gray truncate">
              <%= t.created_at.strftime("%b %e") %>
              ∙
              <%= "#{distance_of_time_in_words(t.length)}" %>
              ∙
              <%= pluralize(t.play_count, 'play') %>
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
</div>
</div>

<script data-turbolinks-eval=always>
  // Change the favicon
  $("#favicon").attr("href","<%= Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url %> ");
</script>
