<%
 meta title: @channel.title,
 description: if @channel.summary then @channel.summary else "#{@channel.episodes.visible.count} episodes of #{@channel.title}. By #{@channel.author}." end,
 og: {
  title: @channel.title,
  # TODO: If there is a channel image, pass it in here
  # image: ""
 },
 twitter: {
  #card: "summary",
  #site: "@alexbaldwin"
 }
%>
<% content_for :favicon do %>
  <%= Imgix.client.path(@channel.image.current_path).width(32).height(32).fit('crop').fm('png32').to_url if @channel.image? %>
<% end %>

<header class="center py2 mb2 mt2">
  <%= image_tag(Imgix.client.path(@channel.image.current_path).width(120).height(120).mask('ellipse').fit('crop').to_url, class: "center mb1") if @channel.image? %>
  <h1 class="m0">
    <%= @channel.title %>
  </h1>
  <p class="gray"><%= @channel.author %></p>
  <% if @channel.summary %>
    <p><%= @channel.summary %></p>
  <% end %>
  <%= link_to(@channel.website_url, @channel.website_url, class: "black block") if @channel.website_url %>
</header>

<section class="flex flex-wrap">
  <% @episodes.each do |t| %>
    <div class="flex col col-3 border-box">
      <div class="p2 hover-bg">
        <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
          <%= image_tag(Imgix.client.path(t.image.current_path).fit('crop').width(1200).to_url) if t.image? %>
          <h2 class="h4 m0 black"><%= t.title %></h2>
          <p class="gray m0">
            <%= "#{time_ago_in_words(t.created_at)} ago" %>
            —
            <%= Time.at(t.length).utc.strftime("%H:%M:%S") %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<%= render 'subscribe' %>
