<%
  hash = {
    title: @channel.title,
    og: {
      title: @channel.title,
      type: 'profile',
      url: slugged_channel_url(@channel.slug),
      site_name: "Ruby.fm",
    },
    twitter: {
    }
  }

  if @channel.image?
    hash[:og][:image] = Imgix.client.path(@channel.image.current_path).w(1200).h(1200).fit('crop').q(50).fm('pjpg').to_url
  end

  if @channel.summary.present?
    stripped = strip_tags(markdown(@channel.summary).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<% content_for :favicon do %>
  <% if @channel.image? %>
    <%= Imgix.client.path(@channel.image.current_path).width(32).height(32).fit('crop').fm('png32').to_url %>
  <% end %>
<% end %>

<header class="py2 mt2">
    <div class="">
      <div class="flex flex-center py2">
        <div class="flex-none">
          <%= link_to slugged_channel_path(@channel) do %>
            <%= image_tag(Imgix.client.path(@channel.image.current_path).h(128).w(128).fit('crop').mask('ellipse').to_url, class: 'mb0 mr2') if @channel.image? %>
          <% end %>

        </div>
        <div class="flex-auto sm-col col-9">
          <h1 class="m0 h1"><%= link_to(@channel.title, slugged_channel_path(@channel), class: 'black') %></h2>
          <h4 class="mt0 mb2 gray regular h4">
            <%= "#{@channel.episodes.count} episodes" %>
            <% @channel.categories.each do |c| %>
              ∙
              <%= c.to_s %>
            <% end %>
          </h4>
          <% if @channel.summary? %>
            <p><%= @channel.summary %></p>
          <% end %>
          <%= link_to(@channel.website_url, @channel.website_url, class: "black block") if @channel.website_url %>

  <% if policy(@channel).update? %>
    <%= link_to("+ Upload New Episode", edit_channel_path(primary_channel), class: "mt2 btn btn-primary") %>
    <%= link_to("Edit Settings", edit_channel_path(primary_channel), class: "mt2 btn btn-outline") %>
  <% end %>
        </div>
      </div>
    </div>

</header>

<section class="flex flex-wrap mxn2 px2">
  <% @episodes.each do |t| %>
    <div class="flex col-6 md-col-4 lg-col-3 p2 border-box">
      <div class="">
        <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
          <%= image_tag(Imgix.client.path(t.image.current_path).fit('crop').width(400).height(400).to_url, class: 'col-12 border') if t.image? %>
        <% end %>
          <div class="py1">
            <h2 class="h5 m0 black">
          <%= link_to( t.title, slugged_channel_episode_path(@channel.slug, t.slug), class: 'black') %>
            </h2>
          <h4 class="h6 regular gray m0">
            <%= "#{time_ago_in_words(t.created_at)} ago" %>
            ∙
            <%= distance_of_time_in_words(t.length) %>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
</section>
