<%
  hash = {
    title: @channel.title,
    og: {
      title: @channel.title,
      image: Imgix.client.path(@channel.image.s3_path).w(1200).h(1200).fit('crop').q(50).fm('pjpg').to_url,
      type: 'website',
      url: slugged_channel_url(@channel.slug),
      site_name: "Ruby.fm"
    },
    twitter: {
    }
  }

  if @channel.summary.present?
    stripped = strip_tags(markdown(@channel.summary).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<% content_for :favicon do %>
  <%= favicon_link_tag(Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url, id: "favicon") %>
<% end %>

<div class="clearfix">
    <header class="col col-3 p2 sticky">
      <%= image_tag(Imgix.client.path(@channel.image.s3_path).h(64).w(64).fit('crop').mask('ellipse').fm('png').to_url, class: 'block mb1', alt: @channel.title) %>
      <h1 class="m0 h3"><%= @channel.title %></h1>
      <h2 class="m0 h4 regular muted"><%= @channel.author %></h2>
      <% if @channel.summary? %>
        <p class="mt1 mb0"><%= @channel.summary %></p>
      <% end %>
      <% if @channel.summary? %>
        <p class="mt1 mb0">
          <%= link_to(@channel.website_url, @channel.website_url, class: "black") %>
        </p>
      <% end %>
      <% if policy(@channel).update? %>
        <div class="flex mt3">
          <%= link_to("Upload", new_channel_episode_path(primary_channel), class: "center flex-auto btn btn-outline") %>
          <%= link_to("Edit", edit_channel_path(primary_channel), class: "flex-none ml2 btn btn-outline") %>
        </div>
      <% end %>
      <div class="mt3">
        <ul class="list-style-none">
          <li>20k listens</li>
          <% if policy(@channel).update?  %>
            <li><%= pluralize(@channel.episodes.count, 'episode') %></li>
          <% else %>
            <li><%= pluralize(@channel.episodes.where(visible: true).count, 'episode') %></li>
          <% end %>
          <% @channel.categories.each do |c| %>
            <li><%= c.to_s %></li>
          <% end %>
        </ul>
    </div>

      <% if @channel.itunes_url? %>
        <div class="mt3">
        <%= link_to(@channel.itunes_url) do %>
          <%= image_tag("/apple-podcasts.svg") %>
        <% end %>
      </div>
      <% end %>

  </header>

  <section class="flex flex-wrap col col-9">
    <% @episodes.each do |t| %>
      <% if policy(t).update? || t.visible? %>
        <%= render partial: "channels/episode_card", locals: {t: t, col: 6, preview: true} %>
      <% end %>
    <% end %>
  </section>
</div>

      <script data-turbolinks-eval=always>
        // Change the favicon
  $("#favicon").attr("href","<%= Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url %> ");
</script>
