<header class="center py3">
  <h1 class="m0"><%= @channel.title %></h1>
  <p class="gray"><%= @channel.author %></p>
</header>

<section class="clearfix">
  <% @channel.episodes.each do |t| %>
    <div class="flex flex-center mb3">
      <img src="http://www.drinkamara.com/wp-content/uploads/2015/03/bacon_blog_post.jpg"
      width="200" height="200"
      class="flex-none mr2" />
      <div class="flex-auto">
        <h2 class="m0"><%= link_to(t.title, slugged_channel_episode_path(@channel.slug, t.slug)) %></h2>
        <p class="gray">
          <%= "#{time_ago_in_words(t.created_at)} ago" %>
        </p>
        <p class="m0">
          <%= t.notes.truncate(240) %>
        </p>
      </div>
    </div>
  <% end %>
</section>

<%= render 'subscribe' %>
