<%
  hash = {
    title: @channel.title,
    og: {
      title: @channel.title,
      image: Imgix.client.path(@channel.image.s3_path).w(1200).h(1200).fit('crop').q(50).fm('pjpg').to_url,
      type: 'website',
      url: slugged_channel_url(@channel.slug),
      site_name: "Ruby.fm"
    },
    twitter: {
    }
  }

  if @channel.summary.present?
    stripped = strip_tags(markdown(@channel.summary).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<% content_for :favicon do %>
  <%= favicon_link_tag(Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url, id: "favicon") %>
<% end %>

<header class="py2 mt2">
      <div class="flex flex-center py2">
        <div class="flex-none">
          <%= link_to slugged_channel_path(@channel) do %>
            <%= image_tag(Imgix.client.path(@channel.image.s3_path).h(128).w(128).fit('crop').mask('ellipse').fm('png').to_url, class: 'mb0 mr2') %>
          <% end %>

        </div>
        <div class="flex-auto sm-col col-9">
          <h1 class="m0 h1"><%= @channel.title %></h1>
          <h4 class="mt0 mb2 gray regular h4">
            <%= pluralize(@channel.episodes.count, 'episode') %>
            <% @channel.categories.each do |c| %>
              ∙
              <%= c.to_s %>
            <% end %>
          </h4>
          <% if @channel.summary? %>
            <p><%= @channel.summary %></p>
          <% end %>
          <%= link_to(@channel.website_url, @channel.website_url, class: "black block") if @channel.website_url %>

  <% if policy(@channel).update? %>
    <%= link_to("+ Upload New Episode", new_channel_episode_path(primary_channel), class: "mt2 btn btn-primary") %>
    <%= link_to("Edit Settings", edit_channel_path(primary_channel), class: "mt2 btn btn-outline") %>
  <% end %>
        </div>
    </div>

</header>

<section class="flex flex-wrap">
  <% @episodes.each do |t| %>
    <% if policy(t.model).update? || t.visible? %>
      <div class="flex col-6 md-col-4 lg-col-3 p2 border-box">
        <div class="">
          <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
            <%= image_tag(Imgix.client.path(t.image.s3_path).fit('crop').width(400).height(400).to_url, class: 'block col-12') %>
          <% end %>
          <div class="mt1">
            <h2 class="h4 m0 black">
              <%= link_to( t.title, slugged_channel_episode_path(@channel.slug, t.slug), class: 'black') %>
              <% unless t.visible? %>
                <span class="h6 inline-block px1 white bg-red rounded">Draft</span>
              <% end %>
            </h2>
            <h4 class="h5 regular gray m0">
              <%= "#{time_ago_in_words(t.created_at)} ago" %>
              ∙
              <%= distance_of_time_in_words(t.length) %>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>

<script data-turbolinks-eval=always>
  // Change the favicon
  $("#favicon").attr("href","<%= Imgix.client.path(@channel.image.s3_path).width(32).height(32).fit('crop').fm('png32').to_url %> ");
</script>
