<%
 meta title: @channel.title,
 description: "#{@channel.episodes.visible.count} episodes of Deep house. By #{@channel.author}.",
 og: {
  image: "http://www.drinkamara.com/wp-content/uploads/2015/03/bacon_blog_post.jpg"
 },
 twitter: {
  #card: "summary",
  #site: "@alexbaldwin"
 }
%>

<header class="center py2 border-bottom mb3 mt3">
  <h1 class="m0">
    <%= @channel.title %>
  </h1>
  <p class="gray"><%= @channel.author %></p>
  <% if current_user && current_user.id == @channel.user_id %>
    <%= link_to 'Edit', edit_channel_path(@channel.id), class: "button button-outline inline-block"  %>
  <% end %>
</header>

<section class="clearfix">
  <% @channel.episodes.visible.each do |t| %>
    <div class="flex flex-center mb3">
      <%= image_tag("bacon.jpg", width: 200, height: 200, class: "flex-none mr2") %>
      <div class="flex-auto">
        <h2 class="m0"><%= link_to(t.title, slugged_channel_episode_path(@channel.slug, t.slug)) %></h2>
          <p class="gray">
            <%= "#{time_ago_in_words(t.created_at)} ago" %>
            —
            <%= Time.at(t.length).utc.strftime("%H:%M:%S") %>
          </p>
          <% if t.notes %>
            <p class="m0">
              <%= markdown(t.notes.truncate(140)) %>
            </p>
          <% end %>
        </div>
    </div>
  <% end %>
</section>

<%= render 'subscribe' %>
