<header class="py2 mb2 border-bottom">
<h1>Stats</h1>
</header>

<canvas id="myChart" class="col-12" height="100"></canvas>

<div class="overflow-hidden mt4">
  <table class="table-light">
    <thead>
      <tr>
        <th>Episodes</th>
        <th>Listens</th>
        <th>Downloads</th>
      </tr>
    </thead>
    <tbody>
      <% @channel.episodes.order('created_at DESC').all.each do |e| %>
        <tr>
          <td>
            <div class="py1">
          <h2 class="h3 m0 regular black">
            <%= e.title %>
          </h2>
          <h4 class="h4 regular gray m0">
            <%= e.created_at.strftime("%b %e") %>
          </h4>
        </td>
        <td class="align-middle"><%= Keen.count("podcast.download", :filters => [{"property_name" => "episode_id", "operator" => "eq", "property_value" => e.id}], :timeframe => "this_7_days") %></td>
        <td class="align-middle">0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<%= javascript_tag do %>
  var ctx = document.getElementById("myChart").getContext("2d");
  var data = {
    labels: <%= raw @labels %>,
    datasets: [
        {
            label: "Last 30 Days",
            fillColor: "rgba(255, 37, 34, 0.7)",
            data: <%= raw @data %>
        }
    ]
    };
  var myNewChart = new Chart(ctx).Bar(data);
  var options = {
    scaleBeginAtZero : true,
    scaleShowVerticalLines: false,
    scaleShowLabelBackdrop : false,
  };
  new Chart(ctx).Bar(data, options);
<% end %>
