<div class="bg-gray py4">
  <div class="container center white">
    <h1 class="py4 h1">
      <%= @track.title %>
      <span class="regular"><%= @track.published ? '' : '(Unpublished)' %></span>
    </h1>
    <%= link_to 'Edit', edit_track_path(@track.id), class: 'button button-outline white' %>
  </div>
</div>

<progress class="full-width bg-light-gray bg-darken-1 white block" max="100" value="20"></progress>

<div class="bg-light-gray px4 py2 clearfix">
  <source src="<%= @track.audio %>" type="audio/mpeg">
  <audio controls class="left">
    Your browser does not support the audio element.
  </audio>
  <nav class="right">
    <%= link_to 'Subscribe', '#', class: "px2 h3 black" %>
    |
    <%= link_to 'Recommend', '#', class: "ml2 h3 black" %>
  </nav>
</div>

<div class="container mt4">
  <h2 class="h1 center">Show Notes</h2>
  <hr>
</div>

<div class="clearfix px4">
  <div class="col col-3 center">
    <div class="bg-light-gray p2">
      <h3 class="h3">Guests featured
on this episode</h3>
      <hr>
      <p>Natalie Armendariz</p>
      <p>Andre Jurgensen</p>
    </div>
    <div class="p2">
      <h3 class="h3 regular">Share this cast</h3>
      <%= link_to 'Twitter', '#', class: 'block' %>
      <%= link_to 'Facebook', '#', class: 'block' %>
      <%= link_to 'Tumblr', '#', class: 'block' %>
      <%= link_to 'Pinterest', '#', class: 'block' %>
      <%= link_to 'Google Plus', '#', class: 'block' %>
    </div>
  </div>
  <div class="col col-6">
    <p class="h3 px4"><%= @track.notes %></p>
  </div>
  <div class="col col-3">
    <div class="border-light-gray border p2">
      <h3 class="h3 m0 mb2">Sponsored by</h3>
      <div class="p2 bg-light-gray center">
        <h5 class="h3">Ebola</h5>
        <p>Disrupting your next trip
          to JFK airport</p>
      </div>
    </div>
  </div>
</div>
