<h1><%= @track.title %></h1>

<div>
  <strong>Notes:</strong>
  <%= @track.notes %>
</div>

<div>
  <strong>Published:</strong>
  <%= @track.published ? 'yes' : 'no' %>
</div>

<div>
  <p><strong>Audio:</strong></p>
  <div>
    <audio controls>
    <source src="<%= @track.audio %>" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>

<%= link_to 'Edit', edit_track_path(@track.id) %>
