<% meta title: "Upload to #{@channel.title}" %>

<div class="col-4 mx-auto">
<header class="center">
  <h1>Upload</h1>
</header>

<p>
  Upload an MP3, we'll read any meta data from the ID3 tag and do the data
  entry for you. You'll be able to edit any informaion we find on the next
  screen.
</p>

<%= form_tag(@uploader.url, {
  multipart: true,
  id: "new_episode",
  enforce_utf8: false,
  authenticity_token: false,
  class: "dropzone",
  data: {
    host: URI.parse(@uploader.url).host,
    fields: @uploader.fields,
  }
}) do %>
  <% @uploader.fields.each do |name, value| %>
    <%= hidden_field_tag(name, value) %>
  <% end %>
<% end %>


<%= form_tag(channel_episodes_url(@channel.slug),
  style: "display: none;",
  id: "save_episode") do |f| %>
  <%= hidden_field_tag("episode[s3_key]", "", id: "s3_key") %>
  <%= submit_tag("Save") %>
<% end %>
</div>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    Dropzone.options.newEpisode = {
      paramName: "file",
      acceptedFiles: "audio/*",
      uploadMultiple: false,
      init: function() {
        this.on("sending", function(file, xhr, form) {
          console.log("Starting upload");
        });

        this.on("uploadprogress", function(file, progress, bytesSent) {
          console.log(progress + " " + bytesSent);
        });

        this.on("error", function(file, xhr, form) {
          console.error("failed to upload");
        });

        this.on("success", function(file, xhr, form) {
          var response = $(xhr);
          var key = response.find("Key").text();

          $("input#s3_key").val(key);
          $("form#new_episode").hide();
          $("form#save_episode").show();
        });
      }
    };
  });
</script>
