<%
  meta title: "#{@episode.title} — #{@channel.title}",
  description: @episode.notes,
  og: {
    title: "#{@episode.title} — #{@channel.title}",
    image: @episode.image_url,
    audio: {
      secure_url: root_url + @episode.audio_url,
      type: "audio/mpeg"
    },
    url: episode_url(@episode),
    site_name: "Ruby.fm"
  },
  twitter: {
  }
%>
<%= stylesheet_link_tag Imgix.client.path(@episode.image.current_path).palette('css').auto('enhance').colors(8).to_url, "application", media: "all" %>
<header class="center py2 border-bottom mb3 mt3">
  <h1 class="m0">
    <%= @episode.title %>
    <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
  </h1>
  <p><%= link_to(@channel.title, channel_path(@channel), class: "gray") %></p>
  <% if current_user && current_user.id = @episode.channel.user_id %>
    <%= link_to 'Edit', edit_episode_path(@episode.id), class: "button button-outline inline-block"  %>
  <% end %>
</header>

<%= image_tag(Imgix.client.path(@episode.image.current_path).fit('crop').width(400).height(400).to_url, width: 400, height: 400, class: "block mb2 mx-auto") if @episode.image? %>


<audio src="<%= @episode.audio %>" type="audio/mpeg" preload="auto" controls
  class="mx-auto block">
  Your browser does not support the audio element.
</audio>

<% if @episode.notes %>
  <p class="px4"><%= markdown(@episode.notes) %></p>
<% end %>

<%= render 'channels/subscribe' %>
