<%
  meta title: "#{@episode.title} — #{@channel.title}",
  description: @episode.notes,
  og: {
    title: "#{@episode.title} — #{@channel.title}",
    image: @episode.image_url,
    audio: {
      secure_url: root_url + @episode.audio_url,
      type: "audio/mpeg"
    },
    url: episode_url(@episode),
    site_name: "Ruby.fm"
  },
  twitter: {
  }
%>

<% content_for :favicon do %>
  <%= Imgix.client.path(@episode.image.current_path).width(32).height(32).fit('crop').fm('png32').to_url if @episode.image? %>
<% end %>

<div class="container">
<div class="clearfix">
  <div class="sm-col-12 md-col-8 lg-col-6 mx-auto">
    <%= image_tag(Imgix.client.path(@episode.image.current_path).h(512).w(512).bri(20).blur(1000).fit('crop').to_url, style: 'position: absolute; left: 0; right: 0; height: 512px; z-index: -1; width: 100vw; ') if @episode.image? %>
    <div class="relative">
    <%= image_tag(Imgix.client.path(@episode.image.current_path).h(512).w(512).fit('crop').to_url, height: 512, width: 512, style: 'background: black; cursor: pointer', class: 'mx-auto block  js-art') if @episode.image? %>
    <%= image_tag('play.svg', class: 'js-art js-hide-show', style: 'cursor: pointer; filter: drop-shadow( 0 1px 3pc rgba(0,0,0,.4) ); -webkit-filter: drop-shadow( 0 1px 3px rgba(0,0,0,.4));  width: 250px; height: 250px; fill: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);') %>
  </div>
    <div class="player" class="mb1" style="height: 1.5rem;">
      <audio controls preload="auto">
        <source src="<%= @episode.audio %>" type="audio/mp3">
      </audio>
        <input id='seek{id}' class='player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-player='seek'>
        <progress class='player-progress-played' max='100' value='0'>
        </progress>
        <progress class='player-progress-buffer' max='100' value='0'>
        </progress>
    </div>
    <header class="center py2 mb2 mt2">
      <h1 class="m0">
        <%= @episode.title %>
        <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
      </h1>
      <% if policy(@channel).update? %>
    <%= link_to 'Edit Episode', edit_episode_path(@episode.id), class: "mt2 btn btn-outline"  %>
      <% end %>
    </header>
    <h4 class="gray center">
    <%= distance_of_time_in_words(@episode.length) %>
    ∙
    <%= link_to('Download', @episode.audio_url, class: 'center') %>
  </h4>


    <% if @episode.notes %>
      <div class="">
        <%= markdown(@episode.notes) %></p>
    </div>
  <% end %>



  <div class="border-top">
  <% @channel.episodes.where.not(id: @episode.id).order(created_at: :desc).first(3).each do |e| %>
    <div class="flex flex-center py2 border-bottom">
      <div class="flex-auto">
        <h3 class="m0 h4"><%= link_to(e.title, slugged_channel_episode_path(@channel.slug, e.slug), class: 'black') %></h3>
          <p class="h5 gray m0">
            <%= "#{time_ago_in_words(e.created_at)} ago" %>
            ⁃
            <%= distance_of_time_in_words(e.length) %>
          </p>
      </div>
      <div class="flex-none">
    <%= image_tag(Imgix.client.path(e.image.current_path).h(48).w(48).fit('crop').to_url, class: 'block border') if e.image? %>
      </div>
    </div>
  <% end %>
</div>

  <% if @channel.summary? %>
  <div class="border-bottom">
    <div class="flex py2">
      <div class="flex-none mr2">
        <%= image_tag(Imgix.client.path(@channel.image.current_path).h(128).w(128).fit('crop').mask('ellipse').to_url, class: 'mb0') if @channel.image? %>
      </div>
      <div class="flex-auto">
        <h2 class="mt0 h2"><%= link_to(@channel.title, channel_path(@channel), class: 'black') %></h2>
        <p><%= @channel.summary %></p>
        <%= link_to(@channel.website_url, @channel.website_url, class: "black block") if @channel.website_url %>
      </div>
    </div>
  <% end %>

</div>
<div>
</div>

<script>
  plyr.setup(
    {
      html: ["<div class='player-controls'>", "</div>"].join("\n")
    }
  );
</script>
<script>
  // Album art on-click plays or pauses
  $(".js-art").click(function() {
    document.querySelectorAll(".player")[0].plyr.togglePlay();
    $(".js-hide-show").toggle();
  });
</script>
