<%
    meta title: "#{@episode.title} — #{@channel.title}",
 description: @episode.notes,
 twitter: {
  card: "player",
  site: "@simple_casual",
  player: @episode.audio,
  player: @episode.audio,
 }
%>
<header class="center py2 border-bottom mb3 mt3">
  <h1 class="m0">
    <%= @episode.title %>
    <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
  </h1>
  <p><%= link_to(@channel.title, channel_path(@channel), class: "gray") %></p>
  <% if current_user && current_user.id = @episode.channel.user_id %>
    <%= link_to 'Edit', edit_episode_path(@episode.id), class: "button button-outline inline-block"  %>
  <% end %>
</header>

<img src="//www.drinkamara.com/wp-content/uploads/2015/03/bacon_blog_post.jpg"
width="400" height="400" class="block mb2 mx-auto" />

<audio src="<%= @episode.audio %>" type="audio/mpeg" preload="auto" controls
  class="mx-auto block">
  Your browser does not support the audio element.
</audio>

<% if @episode.notes %>
  <h3 class="center">Show Notes</h3>
  <p class="px4"><%= markdown(@episode.notes) %></p>
<% end %>

<%= render 'channels/subscribe' %>
