<%
  meta title: "#{@episode.title} — #{@channel.title}",
  description: @episode.notes,
  og: {
    title: "#{@episode.title} — #{@channel.title}",
    image: @episode.image_url,
    audio: {
      secure_url: root_url + @episode.audio_url,
      type: "audio/mpeg"
    },
    url: episode_url(@episode),
    site_name: "Ruby.fm"
  },
  twitter: {
  }
%>
<div class="clearfix">
<div class="col-6 mx-auto">
<header class="center py2 mb2 mt2">
  <h1 class="m0">
    <%= @episode.title %>
    <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
  </h1>
  <p><%= link_to(@channel.title, channel_path(@channel), class: "gray") %></p>
  <% if current_user && current_user.id = @episode.channel.user_id %>
    <%= link_to 'Edit', edit_episode_path(@episode.id), class: "button button-outline inline-block"  %>
  <% end %>
</header>

<audio src="<%= @episode.audio %>" type="audio/mpeg" preload="auto" width="100%">
  Your browser does not support the audio element.
</audio>

<%= image_tag(Imgix.client.path(@episode.image.current_path).fit('crop').to_url, class: "mb1 imgix-fluid") if @episode.image? %>

<% if @episode.notes %>
  <div class="px3">
    <%= markdown(@episode.notes) %></p>
</div>
<% end %>

<%= render 'channels/subscribe' %>
</div>
<div>
