<%
  hash = {
    title: "#{@episode.title} — #{@channel.title}",
    og: {
      title: @episode.title,
      type: 'website',
      image: Imgix.client.path(@episode.image.s3_path).w(1200).h(1200).fit('crop').q(50).fm('auto').to_url,
      url: slugged_channel_episode_url(@channel.slug, @episode.slug),
      audio: {
        url: play_episode_url(@episode.id, format: @episode.audio_ext),
        secure_url: play_episode_url(@episode.id, format: @episode.audio_ext),
        type: "audio/mpeg"
      },
      site_name: "Ruby.fm"
    },
    twitter: {
    }
  }

  if @episode.notes.present?
    stripped = strip_tags(markdown(@episode.notes).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<script type="text/javascript">
$(document).ready(function() {
  RubyFM.initializePlayer();
});
</script>

<% content_for :favicon do %>
  <%= favicon_link_tag(Imgix.client.path(@episode.image.s3_path).w(32).h(32).fit('crop').fm('auto').to_url) %>
<% end %>

<div class="md-flex mxn2 mb3">
  <section class="col-12 lg-col-6 px2">
    <div class="unselectable rounded shadow square relative bg-black sticky" style="background-size: cover; background-image: url(<%= Imgix.client.path(@episode.image.s3_path).q(70).h(512).w(512).dpr(2).fit('crop').auto('format').fm('jpg').to_url %>)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" class="episode-play js-play-hide white p3">
        <use xlink:href="#play"></use>
      </svg>
      <div class="cursor-pointer absolute top-0 right-0 left-0 js-toggle-play" style="bottom: 56px;"></div>
      <div class="z3 player js-plyr absolute bottom-0 col-12">
        <audio controls preload="auto" class="hide">
          <source src="<%= play_episode_url(@episode.id, params: {player: 'rubyfm'}, format: @episode.audio_ext) %>" type="audio/mp3">
        </audio>
        <input id='seek{id}' class='z4 plyr__progress--seek player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-plyr='seek'>
        <progress class="plyr__progress--played player-progress-played" max="100" value='0'>
        </progress>
        <progress class='plyr__progress--buffer player-progress-buffer' max='100' value='0'>
        </progress>
        <div class="z3 flex center" style="background: rgba(0,0,0,.25);">
          <span class="flex-none btn btn-transparent white" data-plyr="play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#play"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent white" data-plyr="pause">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#pause"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent border-left white" data-plyr="rewind">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#previous"></use>
            </svg>
          </span>
          <span href="javascript:void(0)" class="flex-none btn btn-transparent border-left white" data-plyr="fast-forward">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#next"></use>
            </svg>
          </span>
          <span class="flex-auto btn h5 bold btn-transparent border-left white unselectable cursor-default sm-lh2">
            <span class="plyr__time--current">00:00</span>
            /
            <span class="plyr__time--duration">00:00</span>
          </span>
          </span>
          <%= link_to download_episode_url(@episode.id, format: @episode.audio_ext), download: true, class: 'flex-none btn btn-transparent border-left white md-show' do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#external"></use>
            </svg>
          <% end %>
        </div>
    </div>
  </div>
</section>

<header class="col-12 lg-col-6 px2 flex flex-column">
  <h2 class="h6 mt0 mb1 muted caps">
    <%= @episode.created_at.strftime("%b %e") %>
  </h2>
  <div class="flex flex-center">
  <h1 class="black h1 mt0 mb1 flex-auto">
    <%= @episode.title %>
    <% unless @episode.visible? %>
      <span class="h6 inline-block px1 white bg-red rounded">Draft</span>
    <% end %>
  </h1>
    <div class="flex-none ml2">
      <% if policy(@channel).update? %>
        <%= link_to 'Edit', edit_episode_path(@episode.id), class: 'btn btn-outline'  %>
      <% end %>
    </div>
    </div>
  <h3 class="h4 regular muted mt0 mb2 truncate">
    <%= pluralize(@episode.play_count, 'play') %>
    ∙
    <%= "#{distance_of_time_in_words(@episode.length)} long" %>
  </h3>
  <% if @episode.notes.present? %>
    <%= markdown(@episode.notes) %>
  <% end %>
  <div class="block border-top col-12 lg-col-2 mt2"></div>
  <div class="flex flex-center py2">
    <div class="flex-none">
      <%= link_to slugged_channel_path(@channel) do %>
        <%= image_tag(@channel.resized_image_url, width: 48, height: 48, class: 'mb0 mr2', alt: @channel.title) %>
      <% end %>
    </div>
    <div class="flex-auto">
        <h2 class="m0 h3"><%= link_to @channel.title, slugged_channel_path(@channel), class: 'black' %></h2>
      <h2 class="m0 h4 regular muted"><%= @channel.author %></h2>
    </div>
  </div>
</header>
</div>

  <div class="clearfix">

  <% if @channel.episodes.visible.count > 1 %>
    <div class="flex flex-center border-bottom py2 mb2">
    <h4 class="flex-auto h6 m0 caps">Keep listening</h4>
    <h4 class="flex-none ml2 h6 m0 muted caps"><%= link_to "More #{@channel.title} →", slugged_channel_path(@channel), class: 'black' %></h4>
  </div>
  <section class="flex flex-wrap mxn2">
    <% @channel.episodes.visible.where.not(id: @episode.id).order(created_at: :desc).     first(4).each do |t| %>
      <% if policy(t).update? || t.visible? %>
        <%= render partial: "channels/episode_card", locals: {t: t, col: 3, preview: true} %>
      <% end %>
    <% end %>
  </section>
    <% end %>


</div>

<%= render "layouts/geomicons" %>

<%= javascript_tag do %>
  $(document).ready(ready);
  $(document).on('page:load', ready);
<% end %>
