<%
  hash = {
    title: "#{@episode.title} — #{@channel.title}",
    og: {
      title: @episode.title,
      type: 'website',
      image: Imgix.client.path(@episode.image.s3_path).w(1200).h(1200).fit('crop').q(50).fm('auto').to_url,
      url: slugged_channel_episode_url(@channel.slug, @episode.slug),
      audio: {
        url: play_episode_url(@episode.id, format: @episode.audio_ext),
        secure_url: play_episode_url(@episode.id, format: @episode.audio_ext),
        type: "audio/mpeg"
      },
      site_name: "Ruby.fm"
    },
    twitter: {
    }
  }

  if @episode.notes.present?
    stripped = strip_tags(markdown(@episode.notes).squish)
    hash[:description] = truncate(stripped, length: 160)
    hash[:og][:description] = truncate(stripped, length: 300)
  else
    hash[:description] = ""
  end

  meta(hash)
%>

<% content_for :favicon do %>
  <%= favicon_link_tag(Imgix.client.path(@episode.image.s3_path).w(32).h(32).fit('crop').fm('auto').to_url) %>
<% end %>


<div class="container">
  <div class="sm-col-12 md-col-6 mx-auto">
  <header class="clearfix">
    <div class="flex flex-center p2 md-px-reset">
      <div class="flex-none">
        <%= link_to slugged_channel_path(@channel) do %>
          <%= image_tag(@channel.resized_image_url, width: 48, height: 48, class: 'mb0 mr2', alt: @channel.title) %>
        <% end %>
      </div>
      <div class="flex-auto">
        <div class="mr2">
          <h2 class="black block h3 m0 truncate"><%= link_to @channel.title, slugged_channel_path(@channel), class: 'black' %></h2>
          <h3 class="h4 m0 gray truncate">
            Published <%= @episode.created_at.strftime("%b %e") %>
            ∙
            <%= "#{distance_of_time_in_words(@episode.length)} long" %>
            ∙
            <%= pluralize(@episode.play_count, 'play') %>
          </h3>
      </div>
      </div>
      <div class="flex-none md-show">
        <% if policy(@channel).update? %>
          <%= link_to 'Edit', edit_episode_path(@episode.id), class: 'gray h5 btn btn-outline'  %>
        <% end %>
      </div>
    </div>

  </header>
    <div class="unselectable square relative bg-black" style="background-size: cover; background-image: url(<%= Imgix.client.path(@episode.image.s3_path).q(70).h(512).w(512).dpr(2).fit('crop').auto('format').fm('jpg').to_url %>)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" class="episode-play js-play-hide white p3">
        <use xlink:href="#play"></use>
      </svg>
      <div class="cursor-pointer absolute top-0 right-0 left-0 js-toggle-play" style="bottom: 56px;"></div>
      <div class="z3 player js-plyr absolute bottom-0 col-12">
        <audio controls preload="auto" class="hide">
          <source src="<%= play_episode_url(@episode.id, params: {player: 'rubyfm'}, format: @episode.audio_ext) %>" type="audio/mp3">
        </audio>
        <input id='seek{id}' class='z4 plyr__progress--seek player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-plyr='seek'>
        <progress class="plyr__progress--played player-progress-played" max="100" value='0'>
        </progress>
        <progress class='plyr__progress--buffer player-progress-buffer' max='100' value='0'>
        </progress>
        <div class="z3 flex center" style="background: rgba(0,0,0,.25);">
          <span class="flex-none btn btn-transparent white" data-plyr="play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#play"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent white" data-plyr="pause">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#pause"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent border-left white" data-plyr="rewind">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#previous"></use>
            </svg>
          </span>
          <span href="javascript:void(0)" class="flex-none btn btn-transparent border-left white" data-plyr="fast-forward">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#next"></use>
            </svg>
          </span>
          <span class="flex-auto btn h5 bold btn-transparent border-left white unselectable cursor-default sm-lh2">
            <span class="plyr__time--current">00:00</span>
            /
            <span class="plyr__time--duration">00:00</span>
          </span>
          </span>
          <%= link_to download_episode_url(@episode.id, format: @episode.audio_ext), download: true, class: 'flex-none btn btn-transparent border-left white md-show' do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#external"></use>
            </svg>
          <% end %>
        </div>
    </div>
  </div>

  <h1 class="black block h1 mb0 mt2 px2 md-px-reset">
    <%= @episode.title %>
    <% unless @episode.visible? %>
      <span class="h6 inline-block px1 white bg-red rounded">Draft</span>
    <% end %>
  </h1>
  <% if @episode.notes.present? %>
    <div class="p2 md-px-reset">
      <%= markdown(@episode.notes) %>
    </div>
  <% end %>

  <% if @channel.episodes.visible.count > 1 %>
    <h4 class="caps gray h4 p2 md-px-reset m0">More from <%= link_to @channel.title, slugged_channel_path(@channel), class: 'gray' %></h4>
    <section class="flex flex-wrap mb2">
      <% @channel.episodes.visible.where.not(id: @episode.id).order(created_at: :desc).first(3).each do |t| %>
        <div class="flex col-4 md-col-4 lg-col-4 border-box">
          <div class="flex-stretch">
            <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
              <%= image_tag(Imgix.client.path(t.image.s3_path).fit('crop').width(400).height(400).to_url, class: 'col-12', alt: t.title) %>
            <% end %>
            <div class="p1">
              <h2 class="h3 m0">
                <%= link_to( t.title, slugged_channel_episode_path(@channel.slug, t.slug), class: 'regular black') %>
              </h2>
              <h4 class="h4 regular gray m0">
                <%= "#{time_ago_in_words(t.created_at)} ago" %>
              </h4>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</div>

<%= render "layouts/geomicons" %>

<%= javascript_tag do %>
  $(document).ready(ready);
  $(document).on('page:load', ready);
<% end %>
