<%
  meta title: "#{@episode.title} — #{@channel.title}",
  description: truncate(strip_tags(markdown(@episode.notes).squish), length: 160),
  og: {
    title: "#{@episode.title} — #{@channel.title}",
    type: 'music.song',
    url: episode_url(@episode),
    image: Imgix.client.path(@episode.image.current_path).w(1200).h(1200).fit('crop').q(50).fm('pjpg').to_url,
    audio: {
      url: @episode.audio_url,
      secure_url: @episode.audio_url,
      type: "audio/mpeg"
    },
    description: truncate(strip_tags(markdown(@episode.notes).squish), length: 160),
    site_name: "Ruby.fm",
    updated_time: @episode.created_at.to_time.iso8601,
    music: {
      musician: slugged_channel_url(@channel),
      release_date: @episode.created_at.to_time.iso8601,
      duration: @episode.length
    },
  },
  twitter: {
  }
%>

<% content_for :favicon do %>
  <%= Imgix.client.path(@episode.image.current_path).w(32).h(32).fit('crop').fm('png32').to_url if @episode.image? %>
<% end %>

<div class="container">
  <div class="clearfix">
    <div class="sm-col-12 md-col-8 lg-col-6 mx-auto">
      <div class="episode-background" style="background-image: url(<%= Imgix.client.path(@episode.image.current_path).w(512).bri(20).blur(200).q(50).fm('pjpg').to_url if @episode.image? %>)"></div>
      <div class="relative">
        <%= image_tag(Imgix.client.path(@episode.image.current_path).h(512).w(512).fit('crop').fm('pjpg').to_url, height: 512, width: 512, style: 'background: black; cursor: pointer', class: 'mx-auto block js-art episode-art') if @episode.image? %>
        <%= image_tag('play.svg', class: 'js-art js-hide-show episode-play') %>
      </div>
      <div class="player mb1" style="height: 1.5rem;">
        <audio controls preload="auto">
          <source src="<%= @episode.audio %>" type="audio/mp3">
        </audio>
        <input id='seek{id}' class='player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-player='seek'>
        <progress class='player-progress-played' max='100' value='0'>
        </progress>
        <progress class='player-progress-buffer' max='100' value='0'>
        </progress>
      </div>
      <div class="px2">
      <header class="py2 mb2 mt2 flex flex-center">
        <div class="flex-auto">
          <h1 class="m0">
            <%= @episode.title %>
            <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
          </h1>
          <h4 class="gray m0 regular">
            <%= "#{time_ago_in_words(@episode.created_at)} ago" %>
            ∙
            <%= distance_of_time_in_words(@episode.length) %>
          </h4>
          </div>
          <% if policy(@channel).update? %>
            <div class="flex-none ml2">
              <%= link_to 'Edit', edit_episode_path(@episode.id), class: "right caps h6 bold btn btn-outline"  %>
            </div>
          <% end %>
      </header>

      <% if @episode.notes %>
        <%= markdown(@episode.notes) %>
      <% end %>

      <%= link_to('↓ Download', @episode.audio_url, class: 'btn btn-outline mb2') %>

    <div class="border-top">
      <% @channel.episodes.where.not(id: @episode.id).order(created_at: :desc).first(3).each do |e| %>
        <div class="flex flex-center py2 border-bottom">
          <div class="flex-auto">
            <h3 class="m0 h4"><%= link_to(e.title, slugged_channel_episode_path(@channel.slug, e.slug), class: 'black') %></h3>
            <p class="h5 gray m0">
              <%= "#{time_ago_in_words(e.created_at)} ago" %>
              ⁃
              <%= distance_of_time_in_words(e.length) %>
            </p>
          </div>
          <div class="flex-none">
            <%= image_tag(Imgix.client.path(e.image.current_path).h(48).w(48).fit('crop').to_url, class: 'block border') if e.image? %>
          </div>
        </div>
      <% end %>
    </div>

      <div class="border-bottom">
        <div class="flex flex-center py2">
          <div class="flex-none mr2">
          <%= link_to slugged_channel_path(@channel) do %>
            <%= image_tag(Imgix.client.path(@channel.image.current_path).h(128).w(128).fit('crop').mask('ellipse').to_url, class: 'mb0') if @channel.image? %>
          <% end %>
          </div>
          <div class="flex-auto">
            <h2 class="m0 h2"><%= link_to(@channel.title, slugged_channel_path(@channel), class: 'black') %></h2>
            <h4 class="mt0 mb2 gray regular h4">
              <%= "#{@channel.episodes.count} episodes" %>
            <% @channel.categories.each do |c| %>
              ∙
              <%= c.to_s %>
            <% end %>
          </h4>
    <% if @channel.summary? %>
            <p><%= @channel.summary %></p>
    <% end %>
            <%= link_to(@channel.website_url, @channel.website_url, class: "black block") if @channel.website_url %>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>

<script>
  plyr.setup(
    {
    html: ["<div class='player-controls'>", "</div>"].join("\n")
  }
  );
</script>
<script>
  // Album art on-click plays or pauses
$(".js-art").click(function() {
  document.querySelectorAll(".player")[0].plyr.togglePlay();
  $(".js-hide-show").toggle();
});
</script>
