<%
  meta title: "#{@episode.title} — #{@channel.title}",
  description: @episode.notes,
  og: {
    title: "#{@episode.title} — #{@channel.title}",
    image: @episode.image_url,
    audio: {
      secure_url: root_url + @episode.audio_url,
      type: "audio/mpeg"
    },
    url: episode_url(@episode),
    site_name: "Ruby.fm"
  },
  twitter: {
  }
%>
<link rel="stylesheet" href="<%= Imgix.client.path(@episode.image.current_path).palette('css').to_url if @episode.image? %>">

<% content_for :favicon do %>
  <%= Imgix.client.path(@episode.image.current_path).width(32).height(32).fit('crop').fm('png32').to_url if @episode.image? %>
<% end %>

<div class="clearfix">
  <div class="sm-col-12 md-col-8 lg-col-6 mx-auto">
    <header class="center py2 mb2 mt2">
      <h1 class="m0">
        <%= @episode.title %>
        <span class="regular"><%= @episode.visible? ? '' : '(Not Visible)' %></span>
      <% if policy(@channel).update? %>
        <small class="regular">- <%= link_to 'Edit', edit_episode_path(@episode.id), class: "button button-outline inline-block"  %></small>
      <% end %>
      </h1>
    </header>

    <%= image_tag(Imgix.client.path(@episode.image.current_path).h(512).w(512).fit('crop').to_url, class: 'mx-auto block border js-art') if @episode.image? %>
    <div class="player" class="mb1" style="height: 1.5rem;">
      <audio controls preload="auto">
        <source src="<%= @episode.audio %>" type="audio/mp3">
      </audio>
        <input id='seek{id}' class='player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-player='seek'>
        <progress class='player-progress-played image-fg-1' max='100' value='0'>
        </progress>
        <progress class='player-progress-buffer' max='100' value='0'>
        </progress>
    </div>
    <h4 class="gray center"><%= distance_of_time_in_words(@episode.length) %></h4>


    <% if @episode.notes %>
      <div class="px3">
        <%= markdown(@episode.notes) %></p>
        <p>&larr; <%= link_to(@channel.title, channel_path(@channel), class: "gray") %></p>
    </div>
  <% end %>

  <%= render 'channels/subscribe' %>
</div>
<div>

<script>
  plyr.setup(
    {
      html: ["<div class='player-controls'>", "</div>"].join("\n")
    }
  );
</script>
<script>
  // Album art on-click plays or pauses
  $(".js-art").click(function() {
    document.querySelectorAll(".player")[0].plyr.togglePlay();
  });
</script>
