<% meta title: "Edit Account Settings" %>

<header class="center">
  <h1>Account</h1>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="border-bottom mb3 py2">
  <%= f.label "Your email", class: "bold" %><br />
  <%= f.email_field :email, class: "mb2 block full-width mb1 field-light", autofocus: true %>
</div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label "Change your password", class: "bold" %> <em>(leave blank if you don't want to change it)</em>
  <%= f.password_field :password, class: "block full-width mb1 field-light", autocomplete: "off" %>

  <%= f.label :password_confirmation, class: "bold" %>
  <%= f.password_field :password_confirmation, class: "block full-width mb1 field-light", autocomplete: "off" %>

  <%= f.submit "Update your account", class: "regular button full-width mt3" %>
  <%= link_to "Logout", :destroy_user_session, method: :delete, class: "gray mt2 block" %>
<% end %>
