<% meta title: "Edit Account Settings" %>

<div class="clearfix mt2">
  <%= render 'channels/settings_nav' %>

  <div class="col col-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <label class="caps gray h6 block mb2" id="email">Email</label>
      <div class="clearfix mb2">
        <div class="col col-12 mb2">
          <%= f.email_field :email, placeholder: 'Email', class: "col-12 field", autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>

        <div class="clearfix mt4 py2 border-bottom border-top">
          <label class="caps gray h6 block mb2" id="password">Password</label>
          <div class="clearfix mxn2">
            <div class="col col-6 px2">
              <%= f.password_field :password, placeholder: 'New password', class: "col-12 field", autocomplete: "off" %>
            </div>

            <div class="col col-6 px2">
              <%= f.password_field :password_confirmation, placeholder: 'Confirm new password', class: "col-12 field", autocomplete: "off" %>
            </div>
          </div>
        </div>

        <div class="mb2 py2">
          <%= f.submit "Update your account", class: "col-12 btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="clearfix mb2">
      <div class="mb2 py2">
        <%= link_to("Delete Account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?" }) %>
      </div>
    </div>
  </div>
</div>
