<div class="lg-col-4 px2 py4 mx-auto">
  <header class="center">
    <h1 class="m0">Sign Up</h1>
    <p>You're 30 seconds away from publishing super dope things. Good luck.</p>
  </header>
  <%= form_for(@signup, url: user_registration_path) do |f| %>
    <% unless @signup.errors.empty? %>
      <% @signup.errors.messages.each do |field, messages| %>
      <p><%= I18n.t("signup.#{field}") %>: <%= messages.join(', ') %></p>
      <% end %>
    <% end %>
    <%= f.text_field :channel_name, autofocus: true, placeholder: 'Podcast Title', class: 'field col-12 mb2' %>
    <%= f.text_field :full_name, placeholder: 'Full Name', class: 'field col-12 mb2' %>
    <%= f.email_field :email, placeholder: 'Email', class: 'field col-12 mb2' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'field col-12 mb2' %>
    <% if @validatable %>
      <p class="h6 gray">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>

    <%= f.submit "Sign Up", class: 'btn btn-primary col-12 mb2' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
