<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= @episode.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="robots" content="noindex">
    <style>
      <%= render file: '../assets/stylesheets/basscss.css' %>
    </style>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag("application", media: "all") %>
    <%= javascript_include_tag("application") %>

    </head>
    <body class="flex flex-center bg-black">
      <section style="width: 20%; padding-bottom: 20%; display: block; background-size: cover; background-image: url(<%= Imgix.client.path(@episode.image.s3_path).q(70).h(512).w(512).dpr(2).fit('crop').auto('format').fm('jpg').to_url %>)">

      </section>
  <section class="" style="width: 80%">
    <div class="unselectable relative bg-black" style="">
      <div class="cursor-pointer absolute top-0 right-0 left-0 js-toggle-play"></div>
      <div class="z3 player js-plyr absolute bottom-0 col-12">
        <audio controls preload="auto" class="hide">
          <source src="<%= play_episode_url(@episode.id, params: {player: 'rubyfm'}, format: @episode.audio_ext) %>" type="audio/mp3">
        </audio>
        <input id='seek{id}' class='z4 plyr__progress--seek player-progress-seek' type='range' min='0' max='100' step='0.5' value='0' data-plyr='seek'>
        <progress class="plyr__progress--played player-progress-played" max="100" value='0'>
        </progress>
        <progress class='plyr__progress--buffer player-progress-buffer' max='100' value='0'>
        </progress>
        <div class="z3 flex center" style="background: rgba(0,0,0,.25);">
          <span class="flex-none btn btn-transparent white" data-plyr="play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#play"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent white" data-plyr="pause">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#pause"></use>
            </svg>
          </span>
          <span class="flex-none btn btn-transparent border-left white" data-plyr="rewind">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#previous"></use>
            </svg>
          </span>
          <span href="javascript:void(0)" class="flex-none btn btn-transparent border-left white" data-plyr="fast-forward">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#next"></use>
            </svg>
          </span>
          <span class="flex-auto btn h5 bold btn-transparent border-left white unselectable cursor-default sm-lh2">
            <span class="plyr__time--current">00:00</span>
            /
            <span class="plyr__time--duration">00:00</span>
          </span>
          </span>
          <%= link_to download_episode_url(@episode.id, format: @episode.audio_ext), download: true, class: 'flex-none btn btn-transparent border-left white md-show' do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
              <use xlink:href="#external"></use>
            </svg>
          <% end %>
        </div>
    </div>
  </div>
</section>
<%= render "layouts/geomicons" %>

<script type="text/javascript">
// http://stackoverflow.com/questions/18770517/rails-4-how-to-use-document-ready-with-turbo-links
document.addEventListener('turbolinks:load', function() {
  var players = plyr.setup(document.querySelector(".js-plyr"),
    {
      html: ["<div class='player-controls'>", "</div>"].join("\n"),
      seekTime: 30,
      volume: 8,
      tooltips: { controls: false, seek: false }
    }
  );

  // Easily access the player
  var player = players[0];

  if (player && player.media) {
    var media = player.media;
    $("[data-plyr='pause']").hide();

    // Toggle play pause button
    media.addEventListener("playing", function() {
      $("[data-plyr='play']").hide();
      $("[data-plyr='pause']").show();
    });

    media.addEventListener("pause", function() {
      $("[data-plyr='play']").show();
      $("[data-plyr='pause']").hide();
    });

    // Toggle play on click of player background
    $('.js-toggle-play').on("click", function(){
      player.togglePlay();
    });

    // Hide play button on first play
    media.addEventListener("play", function() {
      $(".js-play-hide").hide();
    });
  }
});
</script>

    </body>
  </html>
