<header class="center">
  <h1>Edit <%= @episode.title %></h1>
</header>

<%= form_for(@episode, url: episode_path(@episode.id)) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>
      <ul>
      <% @episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py2 border-bottom">
      <label class="block full-width">
      <%= f.check_box :visible %>
      <span class="bold">Published</span>
    </label>
  </div>

  <div class="py2 border-bottom">
    <%= f.label :title, class: "bold" %>
    <%= f.text_field :title, class: "block full-width field-light" %>
  </div>

  <div class="py2">
    <label class="block bold">
      Show Notes
      <%= link_to "http://daringfireball.net/projects/markdown/basics" do %>
        <%= image_tag("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjA4IDEyOCI+PHJlY3Qgd2lkdGg9IjE5OCIgaGVpZ2h0PSIxMTgiIHg9IjUiIHk9IjUiIHJ5PSIxMCIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEwIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTMwIDk4di02OGgyMGwyMCAyNSAyMC0yNWgyMHY2OGgtMjB2LTM5bC0yMCAyNS0yMC0yNXYzOXpNMTU1IDk4bC0zMC0zM2gyMHYtMzVoMjB2MzVoMjB6Ii8+PC9zdmc+", height: 16, class: "ml1") %>
    <% end %>
    </label>
    <%= f.text_area :notes, class: "block full-width field-light", style: "min-height: 200px;" %>
    <small class="gray block mt1">
      Basic Markdown included for links, bold, italics, lists, and breaks.
    </small>
  </div>

  <div class="mt1">
    <%= f.submit "Update Episode", class: "button full-width" %>
  </div>
<% end %>


<%= link_to "View Episode", slugged_channel_episode_path(@channel.slug, @episode.slug), class: "mt1 gray block" %>
