<div class="px2">
    <% unless user_signed_in? %>
<header class="py4 mb4">
  <div class="py4 center">
    <h1 class="mb1 h1 bold">No-nonsense podcast hosting</h1>
    <p class="h3 regular mb3">Self-publish audio as easily as dragging and dropping files.</p>
      <%= link_to "Sign up →", new_user_registration_path, class: "h3 btn btn-primary px4 py2 mb1" %>
  </div>
</header>
    <% end %>

<header class="border-bottom clearfix py2 mb3">
  <h4 class="h4 bold left">Featured episodes</h4>
  <h4 class="h4 right">Month</h4>
</header>
<section class="flex flex-wrap mb4">
  <% @episodes.each do |t| %>
    <div class="flex overflow-hidden col-6 md-col-4 lg-col-3 relative border-box">
      <%= link_to(slugged_channel_episode_path(@channel.slug, t.slug)) do %>
        <%= image_tag(Imgix.client.path(t.image.s3_path).fit('crop').width(400).height(400).to_url, class: 'block col-12') %>
        <div class="col-12 absolute left-0 right-0 bottom-0 z2 p2" style="background-image: linear-gradient(rgba(0,0,0,0) 10%, #1A232C 100%), none;">
          <h2 class="h3 m0 regular white">
            <%= t.title  %>
          </h2>
          <h4 class="regular white m0" style="color: rgba(255,255,255,.8)">
            <%= "#{time_ago_in_words(t.created_at)} ago" %>
            ∙
            <%= distance_of_time_in_words(t.length) %>
          </h4>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
</div>
