<h1>New Podcast</h1>

<%= form_for(@podcast, url: channel_slug_path(@channel.slug)) do |f| %>
  <% if @podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>
      <ul>
      <% @podcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :audio %><br>
    <%= f.file_field :audio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
