%article.m4
  %header.mb2
    %h1.m0= @child["album"]
    %h2.regular.m0.h3.mid-gray= @child["artist"]
  %section
    %ul.list-reset
      - 12.times do
        %li
          = link_to @child_url do
            .cover-art.left.oh.mr1{style: "background-image: url(http://static.squarespace.com/static/533afe0de4b00862b2169cde/533b159ce4b0deeb0985c608/534adb2de4b09ac511771728/1413475677530/?format=1000w);"}
            = @child["title"]
            %br
            %span.mid-gray 
              = @child["date"]
              &mdash;
              = distance_of_time_in_words(@child["length"])

    %section.py2
      = link_to "RSS", "#", class: "mr2"
      = link_to "Get your own", root_path
