<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= metamagic({
          title: "Ruby.fm",
          description: "No-nonsense podcasting hosting, easy uploads, subscriber stats, and customize your own podcast.",
          og: {
            title: "Ruby.fm"
          }
        }) %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :favicon %>
    <% if @channel %>
      <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= channel_url(@channel.id, format: 'xml') %>">
      <% elsif @episode %>
      <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= channel_url(@episode.channel.id, format: 'xml') %>">
    <% end %>
    <style>
      <%= render file: '../assets/stylesheets/basscss.css' %>
      body { font-size: 18px; }
      body, p, h1, h2, h3, h4, h5, h6, input, textarea, li, .regular {
        font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
        font-weight: 300;
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
      }
      .bold {
        font-weight: 500;
      }
    </style>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag("application", media: "all") %>
    <%= javascript_include_tag("application") %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="flex flex-column" style="min-height:100vh">
      <% if notice %>
        <div class="h4 bold center p2 white bg-green">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="h4 bold center p2 bg-yellow">
          <%= alert %>
        </div>
      <% end %>

      <nav class="sm-fixed col-12 bg-white z4 clearfix border-bottom">
        <div class="container">
        <div class="col">
          <%= link_to(root_path, class:"bold btn btn-transparent py2") do %>
            ruby.fm
          <% end %>
        </div>
        <div class="col-right">
          <% if user_signed_in? %>
            <%= link_to(primary_channel.title, edit_channel_path(primary_channel), class: "btn btn-transparent py2") %>
          <% else %>
            <%= link_to('Log In', user_session_path, class: "btn btn-transparent py2 regular") %>
          <% end %>
        </div>
      </div>
      </nav>

      <div class="flex-auto sm-pt3">
        <main class="flex-auto">
          <div class="container">
            <%= yield %>
          </div>
        </main>
      </div>

      <footer class="p2 center">
        <p class="gray small">
          &copy; <%= Time.now.year %>
          <%= link_to("Simple Casual", "http://simplecasual.com", class: "gray") %> LLC.
          <%= link_to("About Us", about_path , class: "gray") %>
        </p>
      </footer>
    </div>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-24725855-10','auto');ga('send','pageview');
    </script>
  </body>
</html>
