<!DOCTYPE html>
<html>
  <head>
    <title>Ruby.fm</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if notice %>
      <div class="h4 bold center p2 mb2 white bg-green">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="h4 bold center p2 mb2 bg-yellow">
        <%= alert %>
      </div>
    <% end %>

    <header class="py3 px4 bg-light-gray">
      <div class="flex">
        <%= link_to 'Ruby.fm', root_path, class:"button button-transparent bold h3" %>
        <div class="flex-auto center">
          <% if current_user %>
            <%= link_to 'My Casts', tracks_path, class: "button button-transparent h3 regular" %>
          <% end %>
          <a href="#" class="button button-transparent h3 regular">Recommendations</a>
          <%= link_to 'Collections', shows_path, class: "button button-transparent h3 regular" %>
          <a href="#" class="button button-transparent h3 regular">About</a>
        </div>
        <a href="#" class="button button-transparent h3 regular">Search</a>
        <% if current_user %>
          <%= link_to '+', upload_path, class: "button button-transparent h3 regular" %>
        <% else %>
          <%= link_to 'Sign In', user_session_path, class: "button button-transparent h3 regular" %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer class="white bg-black mt4">
      <div class="px2 py3">
        <div class="clearfix mxn2">
          <div class="col col-6 md-col-3 col-right">
            <ul class="list-reset">
              <li><a href="#" class="white h5 button block button-transparent">Twitter</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Facebook</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Instagram</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Pinterest</a></li>
            </ul>
          </div>
          <div class="col col-6 md-col-3 col-right">
            <ul class="list-reset">
              <li><a href="#" class="white h5 button block button-transparent">Privacy Policy</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Terms of Service</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Help</a></li>
              <li><a href="#" class="white h5 button block button-transparent">About</a></li>
              <li><a href="#" class="white h5 button block button-transparent">Blog</a></li>
              <br>
              <li><a href="#" class="regular white h5 button block button-transparent">&copy; 2015 Simple Casual</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </footer>

</body>
</html>
