<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%=
      metamagic title: "Ruby.fm",
      description: "No-nonsense podcasting hosting, easy uploads, subscriber stats, and customize your own podcast.",
      og: {
        title: "Ruby.fm"
      }
    %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= yield :favicon %>">
    <link href="//d2v52k3cl9vedd.cloudfront.net/basscss/7.0.3/basscss.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "//cloud.typography.com/6326032/647188/css/fonts.css", "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="flex flex-column" style="min-height:100vh">
      <% if notice %>
        <div class="h4 bold center p2 white bg-green">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="h4 bold center p2 bg-yellow">
          <%= alert %>
        </div>
      <% end %>

      <nav class="clearfix white bg-dark-gray">
        <div class="sm-col">
          <%= link_to "ruby.fm", root_path, class:"strong button button-transparent py2 h3" %>
        </div>
        <div class="sm-col-right">
          <% if current_user %>
            <% unless current_user.channels.empty? %>
              <%= link_to current_user.channels.first.title, channel_path(current_user.channels.first), class: "button button-transparent py2 regular" %>
            <% end %>
            <% unless current_user.channels.empty? %>
              <%= link_to "Settings", edit_channel_path(current_user.channels.first), class: "button button-transparent py2 regular" %>
            <% end %>
            <%= link_to "+ Upload", new_channel_episode_path(current_user.channels.first), class: "button py2 regular" %>
          <% else %>
            <%= link_to 'Login', user_session_path, class: "button button-transparent py2 regular" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "button button-transparent py2 regular" %>
          <% end %>
        </div>
      </nav>

      <div class="flex-auto">
        <main class="flex-auto">
          <div class="container mxn2 col-12 mx-auto">
            <%= yield %>
          </div>
        </main>
      </div>

      <footer class="p2 center">
        <p class="gray small">
          &copy; <%= Time.now.year %>
          <%= link_to "Simple Casual", "http://simplecasual.com", class: "gray" %> LLC.
          <%= link_to "About Us", about_path , class: "gray" %>
        </p>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <script src="//www.imgix.com/libraries/imgix.js" type="text/javascript"></script>
    <script>
      imgix.onready(function() {
        // Applied to images that contain the imgix-fluid class
        // Can take an options object to set more specific behaviors
        imgix.fluid();
      });
    </script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-24725855-10','auto');ga('send','pageview');
    </script>
  </body>
</html>
